@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mc-calendar {
    display: fixed;
    z-index: 99999 !important;
}

.tWork {
    background-color: rgba(132, 132, 132, 0.185);
}

.swal2-container {
    z-index: 99999!important;
}

label {
    font-size: 14px !important;
}

button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px auto !important;
}

.main-detail {
    width: 650px;
    justify-content: center;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 0.8fr));
    gap: 20px;
    width: 100%;
    justify-content: center;
}